body {
  background-color: #272343; 
  margin: 0;
  display: flex;
  flex-direction: column;
}

a{
  color: #F5F5F5;
  text-decoration: none;
}
ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}


.main_nav {
  background-color: #F5F5F5; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0; 
}

.main_nav ul {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.main_nav a {
  padding: 10px 20px; 
  color: #272343; 
  font-size: 18px;
}

.main_nav a:hover {
  color: #6B5B95; 
}

.nav_logo img {
  height: 80px; 
}

.info {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #6B5B95; 
  color: white;
  text-align: center;
}


.locationButton {
  margin-top: 20px;
  padding: 12px 24px;
  border: 1px solid #F5F5F5;
  background-color: transparent;
  font-size: 16px;
  transition: 1s;
}

.locationButton:hover {
  background-color: #F5F5F5; 
  color: black; 
}
.locationButton:hover a {
  color: black; 
}
.storeImage {
  height: 1050px;
  display: flex;
  background-color: #F5F5F5;
}

.leftImg,
.rightImg {
  width: 50%;
  height: 500px;
  padding: 20px; 
}

.leftImg img,
.rightImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px; 
}

.menu {
  display: flex;
  height: 450px;
  background-color: #272343; 
  color: white;
}

.menu_card {
  width: 50%;
  padding: 20px;
}

.menuContent {
  margin-top: 80px;
  text-align: center;
}

.buttons-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.buttons-container button {
  margin: 5px;
  padding: 10px 20px; 
  background-color: #6B5B95;
  border: 0;
  color: white;
  font-size: 16px;
  border-radius: 5px; 
}

.dish_img {
  width: 50%;
  height: 500px;
}

.dish_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position:  top;
}

.bottom_info {
  background-color: #F5F5F5; 
  color: #272343; 
  padding: 20px;
  text-align: center;
}

.bottom_info nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom_info ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.bottom_info a {
  font-size: 15px;
  text-decoration: none;
  color: #272343; 
  padding: 15px 20px;
}

.bottom_info button {
  padding: 10px 30px; 
  background-color: #6B5B95; 
  border: 0;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}
